# 📁 .dockerignore
.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.log
.DS_Store
.dvc/
mlruns/**/*.trash
data/**/*.dvc
*.csv
*.pkl
*.joblib
.ipynb_checkpoints
.cache
.pytest_cache
.coverage
.tox
*.egg-info
.eggs
dist/
build/